doctype html
html
  head
    title
    link(rel='stylesheet', href='/stylesheets/bootstrap.css')
    script(type="text/javascript",src='/javascripts/jquery.js')
    script(type="text/javascript",src="/javascripts/bootstrap.js")
    block headNode
  body
    block bodyNode
