extends common
block bodyNode
    include public/nav
    .container
        .row
            .col-md-8.col-md-offset-2.thumbnail(style="margin-top:50px;")
                h3 用户注册
                hr
                ul
                    li 注册成功！
                    li 您可以 <a href="/">返回</a> 首页,进行登录


    include public/copyright