extends common
block bodyNode
    include public/nav
    .container
        .row
            .col-md-8.col-md-offset-2.thumbnail(style="margin-top:50px;")
                h3 发布成功！
                hr
                ul
                    li 帖子发布成功
                    li 您可以返回<a href="/">首页</a>继续发帖



    include public/copyright