a,a:hover{
    text-decoration:none;
}
a.list-group-item:hover{
    border-color:#7cb9fe;
}
a.list-group-item span.glyphicon{
    margin-right:10px;
}
.rightContent{
    min-height:400px;
}
.copyRight{
    height:80px;
    background-color:#dedede;
    line-height:80px;
}
th{
    text-align:center;
}