extends common
block bodyNode
    script(type="text/javascript").
        $(function(){
            $("a.list-group-item").eq(1).css("background-color","#a7d6f1")
        })
    include public/nav
    .container
        .row
            .col-md-3
                include public/manageList
            .col-md-9.thumbnail.rightContent
                h2 修改登录密码
                .well 您可以在本页面修改您的登录密码
                form.form-horizontal.adminPasswordModify(method="post", action="/manage/adminPasswordModifyInfo")
                ul
                    li 管理员修改成功！
                    li 你可以 <a href="/manage/adminPasswordModify">返回</a> 继续修改您的登录密码

    include ../public/copyright