.navbar.navbar-default.navbar-static-top
    .container
        .navbar-header
            a.navbar-link.navbar-brand(href="#") HTML5前段开发技术论坛
        .navbar-text.navbar-right
            span 欢迎您 admin !