extends common
block bodyNode
    script(type="text/javascript").
        $(function(){
            $("a.list-group-item").eq(5).addClass("active")
        })
    include ../public/nav
    #exit.modal.fade
        .modal-dialog
            .modal-content
                .modal-header
                .modal-body 您确定要退出个人中心吗？
                .modal-footer
                    a.btn.btn-primary(href="/users/safeExit") 确定
                    button.btn.btn-danger(data-dismiss="modal") 取消
    .container
        .row
            .col-md-3
                include public/orderList
            .col-md-9.thumbnail.rightContent
                h3 安全退出
                .well 您可以在本页面退出个人中心
    include ../public/copyright