extends common
block bodyNode
    script(type="text/javascript").
        $(function(){
            $("a.list-group-item").eq(4).addClass("active")
        })
    include ../public/nav
    .container
        .row
            .col-md-3
                include public/orderList
            .col-md-9.rightContent
                h3 修改登录密码
                .well 您可以在本页面实现对您的登录密码修改
                form.form-horizontal.passwordModify(method="post",action="/users/passwordModifyDeal")
                    .form-group
                        .col-md-3.text-right
                            label.control-label(for='oldPwd') 旧密码
                        .col-md-6
                            input#oldPwd.form-control(type="password",name="oldPwd")
                        .col-md-3.help-block
                    .form-group
                        .col-md-3.text-right
                            label.control-label(for='newPwd') 新密码
                        .col-md-6
                            input#newPwd.form-control(type="password",name="newPwd")
                        .col-md-3.help-block
                    .form-group
                        .col-md-3.text-right
                            label.control-label(for='okPwd') 确认密码
                        .col-md-6
                            input#okPwd.form-control(type="password",name="okPwd")
                        .col-md-3.help-block
                    .form-group
                        .col-md-6.col-md-offset-3
                            button.btn.btn-primary 确认修改
    include ../public/copyright