.list-group
    a.list-group-item(href="/users")
        span.glyphicon.glyphicon-home
        span 我的首页
    a.list-group-item(href="/users/myTopic")
        span.glyphicon.glyphicon-list-alt
        span 我的帖子
    a.list-group-item(href="/users/myCollection")
        span.glyphicon.glyphicon-star
        span 我的收藏
    a.list-group-item(href="/users/personalInfoModify")
        span.glyphicon.glyphicon-user
        span 完善个人信息
    a.list-group-item(href="/users/passwordModify")
        span.glyphicon.glyphicon-cog
        span 修改登录密码
    a.list-group-item(href="/users/exit")
        span.glyphicon.glyphicon-log-in
        span 安全退出
